name: Build Spotty for all platforms

on:
  push:
    branches: [spotty, spotty-dev, update-github-action]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  KEYMASTER_CLIENT_ID: ${{ secrets.KEYMASTER_CLIENT_ID }}

jobs:
  macOS:
    runs-on: macos-11

    steps:
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
          toolchain: stable

    - name: Checkout
      uses: actions/checkout@v3

    - name: Write Build Configuration File
      uses: DamianReeves/write-file-action@v1.0
      with:
        path: ./src/client_id.txt
        contents: ${{ env.KEYMASTER_CLIENT_ID }}
        write-mode: overwrite

    - name: Get Rustc version
      id: get-rustc-version
      run: echo "::set-output name=version::$(rustc -V)"

    - name: Cache Rust dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry/index
          ~/.cargo/registry/cache
          ~/.cargo/git
          target
        key: ${{ runner.os }}-${{ steps.get-rustc-version.outputs.version }}-${{ hashFiles('Cargo.lock') }}

    - name: Install Rust support for ARM64 & prepare environment
      run: |
        rustup target add aarch64-apple-darwin
        mkdir releases

    - name: Build
      run: |
        cargo build --release
        strip target/release/spotty
        cp target/release/spotty releases/spotty-x86_64
        cargo build --target=aarch64-apple-darwin --release
        strip target/aarch64-apple-darwin/release/spotty
        cp target/aarch64-apple-darwin/release/spotty releases/spotty-arm64

    - name: Build fat binary
      run: |
        lipo -create \
          -arch x86_64 releases/spotty-x86_64 \
          -arch arm64 releases/spotty-arm64 \
          -output releases/spotty

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: spotty-mac
        path: releases/

  Linux_x86_64:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - uses: ./.github/actions/xbuild-spotty
      with:
        binary-name: spotty-x86_64
        client-id: ${{ env.KEYMASTER_CLIENT_ID }}
        target-triple: x86_64-unknown-linux-musl

  Linux_ARMv6:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - uses: ./.github/actions/xbuild-spotty
      with:
        binary-name: spotty-arm
        client-id: ${{ env.KEYMASTER_CLIENT_ID }}
        target-triple: arm-unknown-linux-musleabi

  Linux_ARMv7:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - uses: ./.github/actions/xbuild-spotty
      with:
        binary-name: spotty-hf
        client-id: ${{ env.KEYMASTER_CLIENT_ID }}
        target-triple: armv7-unknown-linux-musleabihf

  Linux_ARMv8:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - uses: ./.github/actions/xbuild-spotty
      with:
        binary-name: spotty-aarch64
        client-id: ${{ env.KEYMASTER_CLIENT_ID }}
        target-triple: aarch64-unknown-linux-musl

  Windows:
    runs-on: windows-2019

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Write Build Configuration File
      uses: DamianReeves/write-file-action@v1.0
      with:
        path: ./src/client_id.txt
        contents: ${{ env.KEYMASTER_CLIENT_ID }}
        write-mode: overwrite

    - name: Build
      run: cargo build --release

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: spotty.exe
        path: target/release/spotty.exe